[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.devnet]
sigil_registry = "BWppEKBBET8EJWsi1QaudVWwhaPX7JhNLDDpfHcCjmwe"

[programs.localnet]
sigil_registry = "BWppEKBBET8EJWsi1QaudVWwhaPX7JhNLDDpfHcCjmwe"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
init-registry = "npx ts-node scripts/quick-test.ts"
